# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
venv/
ENV/
.env/
.venv/
env/
venv.bak/

# Django specific
*.log
local_settings.py

# IDEs
.vscode/

# Others
.DS_Store
